* {
  box-sizing: border-box;
}

.content {
  margin: 0px auto;
}

.heading {
  margin: 12px;
}

.heading p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  text-align: center;
}
.options {
  display: flex;
  justify-content: center;
}

.options div {
  text-align: center;
  margin-left: 1rem;
}

.options p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.submit {
  padding: 20px;
  text-align: center;
}

.submit button {
  font-size: 22px;
  color: #149114d2;
  background-color: rgba(221, 186, 120, 0.836);
  border-radius: 8px;
}
