/* .main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 1fr 1fr;
  grid-template-areas:
    "topbar topbar topbar"
    "sidebar content content"
    "sidebar content content";
}

.first {
  grid-area: topbar;
}

.second {
  grid-area: sidebar;
}

.third {
  grid-area: content;
} */
